.comments-wrapper {
  height: 230px;
  padding: 2rem;

  .comments {
    display: flex;
    margin-right: 30px;

    .comment-author {
      span {
        font-size: 18px;
        font-weight: 500;
        line-height: 48px;
      }
    }
    .comment-avatar {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      background-color: #adb5bd;
      margin-right: 10px;

    }

  }

  .comment-input {
    display: flex;
    flex-direction: column;
    textarea {
      resize: none;
      height: 175px;
      outline: #1e2125;
      border-radius: 5px;
      width: 80%;
      &:hover {
        outline: #1e2125;
      }
    }
  }
  .hide-user{
    margin-top: 1rem;
    margin-left: 55px;
  }
}
.user-comments {
  background-color: #f0f7fc;
  border-radius: 5px;
  .user-comment{
    display: flex;
    padding: 2rem;
    .user-avatar{
      width: 32px;
      height: 32px;
      background-color: #1e2125;
      border-radius: 25px;
      margin-right: 12px;
    }
    .user-name{
      width: calc(100% - 50px);
      span{
        line-height: 32px;
        color: #0d6efd;
        font-weight: 600;
        margin-right: 5px;
      }
      p{

      }
    }
  }
}