<IfModule mod_rewrite.c>

 <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
 </IfModule>

    RewriteEngine On

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^ public/index.php [L]

</IfModule>